{% extends 'registros/base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="jumbotron">
        {% if logged %}
            <h1>Gracias por loguearse!</h1>
            <p>Ya puede realizar sus predicciones desde <a href="/consulta">aquí</a></p>
        {% else %}
            <h3>Por favor, introduzca sus credenciales para poder realizar consultas:</h3>
            <BR>
            <form action="{% url 'registros:user_login' %}" method="post">
                {% csrf_token %}
                <label for="username">Nombre de usuario:</label>
                <input type="text" name="username" placeholder="Introduzca su usuario">
                <label for="password">Contraseña:</label>
                <input type="password" name="password">
                <input type="submit" value="Loguearse">
            </form>
            <BR><BR>
            <p><strong>-- O accede empleando los siguientes métodos --</strong></p>
            <BR>
            <a href="{% url 'social:begin' 'twitter' %}">Acceso con Twitter</a><br>
            <BR>
            <a href="{% url 'social:begin' 'facebook' %}">Acceso con Facebook</a>
        {% endif %}
    </div>
{% endblock %}