<div class="masthead">
    <h3 class="text-muted">MeteoGaliciaDB</h3>
    <div>
        {%  if user.is_authenticated %}
            <p class="log"><a href="/registro/salir">Salir</a></p>
        {% else %}
            <p class="log"><a href="/registro/acceso">Ingresar</a></p>
        {% endif %}
    </div>    <nav>
        <ul class="nav nav-justified">
            <li><a href="/">Inicio</a></li>
            <li><a href="/blog/">Blog</a></li>
            <li><a href="/faq">FAQ</a></li>
            <li><a href="/consulta">Consulta</a></li>
            <li class="active"><a href="/contacto">Contacto</a></li>
        </ul>
    </nav>
</div>