body{
	width:100%;
	height:100%;
	font-family: 'Roboto Condensed', sans-serif;

}


h1,h2,h3 {
	margin:0 0 35px 0;
	font-family: 'Patua One', cursive;
	text-transform: uppercase;
	letter-spacing:1px;
}


#contact{
	background: #f4f4f4;
	color: #777;
	padding-bottom:80px;
}

textarea.form-control{
    height:100px;
}