{%  extends "consulta/base.html" %}

{% block title %} MeteoGaliciaDB {% endblock %}

{% block content %}
    <br>
    <br>
    <h4> Cubra el siguiente formulario para obtener los datos:</h4>
    <br>
    <p>Seleccione el lugar para el que desea obtener la predicción del tiempo: </p>
    <form style="float: left; display: inline;" method="POST">
        {{ form.as_p }}

        {% csrf_token  %}
        <input style="float: left; margin-left: 40%; margin-top: 10%; margin-bottom: 10%; padding: 2% 10%; border-radius: 20px;" type="submit" class="btn btn-primary" value="Enviar">
    </form>

{% endblock %}










