{%  extends "faq/base.html" %}

{% block content %}

    <br>
    <br>
    <div id="accordion" class="panel-group">

        <div class="panel panel-default">

            <div class="panel-heading">

                <h4 class="panel-title">

                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">1. Qué es Meteo Galicia DB?</a>

                </h4>

            </div>

            <div id="collapseOne" class="panel-collapse collapse">

                <div class="panel-body">

                    <p>Explicamos el proyecto más <a href="http://www.tutorialrepublic.com/html-tutorial/" target="_blank">en nuestro blog</a></p>

                </div>

            </div>

        </div>

        <div class="panel panel-default">

            <div class="panel-heading">

                <h4 class="panel-title">

                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">2. Es gratuita?</a>

                </h4>

            </div>

            <div id="collapseTwo" class="panel-collapse collapse in">

                <div class="panel-body">

                    <p>Por supuesto.... QUE NO!</p>

                </div>

            </div>

        </div>

        <div class="panel panel-default">

            <div class="panel-heading">

                <h4 class="panel-title">

                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">3. Es necesario registrarse?</a>

                </h4>

            </div>

            <div id="collapseThree" class="panel-collapse collapse">

                <div class="panel-body">

                    <p>Es totalmente indispensable para poder usar nuestra aplicación, registrarse a través del siguiente <a href="/" target="_blank">formulario de registro.</a></p>

                </div>

            </div>

        </div>

    </div>



{% endblock %}