{% load staticfiles %}

<div class="jumbotron">
    <h1>MeteoGaliciaDB</h1>
    <img src="{% static "portada/images/imagen_portada.png" %}" class="img-responsive center-block" alt="Cinque Terre">
    <p class="lead">Conozca la predicción del tiempo para la ubicación que desee y compare la misma con los datos
        históricos que ponemos a su disposición. En un golpe de vista obtendrá una comparación histórica con
        la predicción actual a través de distintas gráficas.</p>
    <p><a class="btn btn-lg btn-success" href="/registro/formulario" role="button">Regístrese en nuestra APP</a></p>
</div>