<div class="row">
    <div class="col-lg-4">
        <h2>Blog</h2>
        <p class="text-danger">No se pierda ninguna novedad sobre nuestro proyecto!</p>
        <p>En nuestra blog iremos comentando todas las novedades del proyecto y explicando posibles vías de desarrollo
            futuro.
        </p>
        <p><a class="btn btn-primary" href="/blog/" role="button">Ir al MeteoBlog »</a></p>
    </div>
    <div class="col-lg-4">
        <h2>FAQ</h2>
        <p>Obtenga la predicción del tiempo y compárela con los datos históricos para la misma zona seleccionada
            de una manera rápida y fuertemente visual. Siga nuestra guía de uso.</p>
        <p><a class="btn btn-primary" href="#" role="button">Ver preguntas frecuentes »</a></p>
    </div>
    <div class="col-lg-4">
        <h2>Contacto</h2>
        <p>Si todavía tiene dudas, quieres contactar con nosotros o simplemente reportar un bug, contáctenos a través de
            nuestro formulario de contacto. Recuerde que nuestra aplicación es completamente gratuita. </p>
        <p><a class="btn btn-primary" href="#" role="button">Contactar »</a></p>
    </div>
</div>