<div class="masthead">
    <h3 class="text-muted">MeteoGaliciaDB</h3>
    <div>
        {%  if user.is_authenticated %}
            <div class="bienvenida">
                <p>Bienvenido {{ user.username }}!</p>
                <p><a href="/registro/salir">Salir</a></p>
            </div>
        {% else %}
            <div class="nobienvenida">
                <p><a href="/registro/acceso">Ingresar</a></p>
            </div>
        {% endif %}
    </div>
    <nav>
        <ul class="nav nav-justified">
            <li><a href="/">Inicio</a></li>
            <li><a href="/blog/">Blog</a></li>
            <li class="active"><a href="/faq">FAQ</a></li>
            <li><a href="/consulta">Consulta</a></li>
            <li><a href="/contacto">Contacto</a></li>
        </ul>
    </nav>
</div>