{%  extends "consulta/base.html" %}
{% block title %} MeteoGaliciaDB {% endblock %}

{% block content %}

    {{ respuesta3 }}



    <table id="tabla1" class="table stacktable" border="0">
        <tr>
            <th>mediodia</th>
            <th>tarde</th>
            <th>noche</th>
        </tr>
        <tr>
            <td>kahsdkjlashdjkasvblsfabvksvjasbkjvbadskbvksdvsda</td>
            <td>kahsdkjlashdjkashdkjasfabvksvjasbkjvbadskbvksdvsda</td>
            <td>kahsdkjlashdjka
        <tr>
            <td>kahsdkfgdgdfgdfgdfabvksvjasbkjvbadskbvksdvsda</td>
            <td>kahsdkfgdgdfgdfgdfgdfgddfbadskbvksdvsda</td>
            <td>kahsdkfgdgdfgdabysgflskjbsdlsbkjvbadskbvksdvsda</td>
        </tr>
    </table>

{% endblock %}